// +build {{.ModuleName}}

package {{.PackageName}}

import (
	"context"
	"net"
	"time"
	"fmt"
	"math/rand"

{{ range $Name, $Import := .Imports }}
	"{{$Import.ImportPath}}"
{{ end }}

	log "github.com/sirupsen/logrus"
	"github.com/golang/protobuf/proto"
	"github.com/dmichael/go-multicast/multicast"
	p "{{.Org}}/{{.ModuleName}}/models"
)

const (
	inactivityTimeout = time.Duration(2) * time.Minute
	heartbeatInterval = time.Duration(1) * time.Minute
	updateLocalStateInterval = time.Duration(10) * time.Second
	maxDatagramSize = 1024
)

var (
	{{ range $Name, $Const := .Constants }}
	{{ if (isConstantString $Name) }}
	{{$Name}} {{getConstantType $Name}} = "{{$Const.DefaultValue}}"
	{{ else }}
	{{$Name}} {{getConstantType $Name}} = {{$Const.DefaultValue}}
	{{ end }}
	{{- end }}
)

type NeighborState struct {
	id string
	state *p.State
	discoveredAt time.Time
	updatedAt time.Time
	lastHeartBeatAt time.Time
	stateChangedAt time.Time
	active bool
}

type {{.ImplementationName}} struct {
	id string
	state *p.State
	mcastAddr string
	mcastConn *net.UDPConn
	receiveChannel chan *p.NeighborUpdate
	hbChannel chan *p.NeighborHeartBeat
	neighborState map[string]*NeighborState
	configuredPriority []int
	runningPriority []int
	guards []func() (bool, *NeighborState)
	actions []func(*NeighborState) (bool, *NeighborState)
}

func (this *{{.ImplementationName}}) init(id string, mcastAddr string) error {
	this.id = id
	this.state = &p.State{}
	this.mcastAddr = mcastAddr
	this.configuredPriority = []int{}
	this.runningPriority = []int{}
	this.guards = []func() (bool, *NeighborState){}
	this.actions = []func(state *NeighborState) (bool, *NeighborState){}

	conn, err := multicast.NewBroadcaster(this.mcastAddr)
	if err != nil {
		return err
	}
	this.mcastConn = conn

	this.receiveChannel = make(chan *p.NeighborUpdate, 10)
	this.hbChannel = make(chan *p.NeighborHeartBeat, 10)

	this.neighborState = map[string]*NeighborState{}

	{{ range $Name, $Expr := .ConstantInitFunctions -}}
		{{$Name}} = this.initConstant{{$Name}}()
	{{ end }}

	this.initState()

	// set priorities for actions
{{ range .Statements }}
	this.configuredPriority = append(this.configuredPriority, {{.Priority}})
	this.runningPriority = append(this.runningPriority, {{.Priority}})
	this.guards = append(this.guards, this.{{.GuardName}})
	this.actions = append(this.actions, this.{{.ActionName}})
{{ end }}

	return nil
}

func (this *{{.ImplementationName}}) initState() {
	{{ range $Name, $Var := .Variables -}}
        {{ if (isString $Name) -}}
			this.state.{{protoName $Name}} = "{{$Var.DefaultValue}}"
        {{ else -}}
			this.state.{{protoName $Name}} = {{$Var.DefaultValue}}
        {{ end -}}
	{{- end }}

	{{ range $Name, $Expr := .VariableInitFunctions -}}
		this.state.{{protoName $Name}} = this.initVarible{{protoName $Name}}()
	{{ end }}
}

{{ range $Name, $Expr := .ConstantInitFunctions -}}
func (this *{{$.ImplementationName}}) initConstant{{$Name}}() {{getConstantType $Name}} {
	{{ range .Code }}
	{{.}}
	{{ end }}
	return {{$Expr.FinalResult}}
}

{{ end -}}

{{ range $Name, $Expr := .VariableInitFunctions -}}
	func (this *{{$.ImplementationName}}) initVarible{{protoName $Name}}() {{getType $Name}} {
    {{ range .Code }}
	{{.}}
    {{ end }}
	return {{$Expr.FinalResult}}
}

{{ end -}}

func (this *{{.ImplementationName}}) EventHandler(ctx context.Context) {
	heartbeatTicker := time.NewTicker(heartbeatInterval)
	updTicker := time.NewTicker(updateLocalStateInterval)
	for {
		select {
		case s := <-this.receiveChannel:
			_, ok := this.neighborState[s.Id]
			if !ok {
				this.neighborState[s.Id] = &NeighborState{
					id: s.Id,
					discoveredAt: time.Now(),
					active: true,
					stateChangedAt: time.Now(),
				}
			}
			this.neighborState[s.Id].state = &p.State{
				{{ range $Name, $Type := .Variables -}}
					{{ $pName := (protoName $Name) }}
					{{$pName}}: s.State.{{$pName}},
				{{- end }}
			}
			this.neighborState[s.Id].updatedAt = time.Now()
			this.evaluateNeighborStates()
			this.updateLocalState()
			if stateChanged := this.updateLocalState(); stateChanged {
				n, err := this.broadcastLocalState()
				if err != nil {
					log.Errorf("Error broadcasting local state to neighbors")
				} else {
					log.Debugf("%s: sent state update: %d bytes", this.id, n)
				}
			}
		case s := <-this.hbChannel:
			_, ok := this.neighborState[s.Id]
			if !ok {
				this.neighborState[s.Id] = &NeighborState{
					id: s.Id,
					state: &p.State{},
					discoveredAt: time.Now(),
					active: true,
					stateChangedAt: time.Now(),
					updatedAt: time.Now(),
				}
			}
			this.neighborState[s.Id].lastHeartBeatAt = time.Now()
			this.evaluateNeighborStates()
			if stateChanged := this.updateLocalState(); stateChanged {
				n, err := this.broadcastLocalState()
				if err != nil {
					log.Errorf("Error broadcasting local state to neighbors")
				} else {
					log.Debugf("%s: sent heartbeat: %d bytes", this.id, n)
				}
			}
		case <-heartbeatTicker.C:
			this.sendHeartBeat()
		case <-updTicker.C:
			if stateChanged := this.updateLocalState(); stateChanged {
				n, err := this.broadcastLocalState()
				if err != nil {
					log.Errorf("Error broadcasting local state to neighbors")
				} else {
					log.Debugf("%s: sent heartbeat: %d bytes", this.id, n)
				}
			}
		case <-ctx.Done():
			return
		}
	}
}

func (this *{{.ImplementationName}}) evaluateNeighborStates() {
	for id, nbr := range this.neighborState {
		if nbr.updatedAt.Add(inactivityTimeout).Before(time.Now()) {
			nbr.active = false
			nbr.stateChangedAt = time.Now()
			log.Warnf("neighbor %s became inactive at %s", id, time.Now())
		} else {
			if !nbr.active {
				log.Infof("neighbor %s became active at %s", id, time.Now())
			}
			nbr.active = true
			nbr.stateChangedAt = time.Now()
		}
		log.Debugf("state: %s: (%v) -> %+v", id, nbr.active, nbr.state)
	}
}

func (this *{{.ImplementationName}}) isNeighborUp(id string) bool {
	nbr, ok := this.neighborState[id]
	if !ok {
		return false
	}
	return nbr.active
}

func (this *{{.ImplementationName}}) neighbors() map[string]*NeighborState {
	return this.neighborState
}

func (this *{{.ImplementationName}}) setNeighbor(id string, state bool) bool {
	nbr, ok := this.neighborState[id]
	if !ok {
		return false
	}
	nbr.active = state
	return nbr.active
}

func (this *{{.ImplementationName}}) getNeighbor(id string) (*NeighborState, error) {
	if id == this.id {
		return &NeighborState{
					id: this.id,
					state: this.state,
					discoveredAt: time.Now(),
					updatedAt: time.Now(),
					lastHeartBeatAt: time.Now(),
					stateChangedAt: time.Now(),
					active: true,
				}, nil
	}
	nbr, ok := this.neighborState[id]
	if !ok {
		return nil, fmt.Errorf("%s not found in neighbors", id)
	}
	return nbr, nil
}

func (this *{{$.ImplementationName}}) currentPriority(actionIndex int) int {
	return this.runningPriority[actionIndex]
}

func (this *{{$.ImplementationName}}) decrementPriority(actionIndex int) int {
	p := this.runningPriority[actionIndex]
	this.runningPriority[actionIndex] = p-1
	return this.runningPriority[actionIndex]
}

func (this *{{$.ImplementationName}}) resetPriority(actionIndex int) {
	this.runningPriority[actionIndex] = this.configuredPriority[actionIndex]
}

func (this *{{$.ImplementationName}}) okayToRun(p int) bool {
	if p == 0 {
		return true
	}
	return false
}

{{$count := 0 -}}
{{ range .Statements }}
func (this *{{$.ImplementationName}}) {{.GuardName}}() (bool, *NeighborState) {
	var takeAction bool
	var neighbor *NeighborState

	takeAction = false
	neighbor = nil

	p := this.currentPriority({{$count}})
	if this.okayToRun(p-1) {
		log.Debugf("Evaluating Guard {{$count}}")

		{{ range .GuardCode }}
		{{.}}
		{{- end }}

		log.Debugf("Guard {{$count}} evaluated to %v", takeAction)
	}

	return takeAction, neighbor
}

func (this *{{$.ImplementationName}}) {{.ActionName}}(neighbor *NeighborState) (bool, *NeighborState) {
	p := this.decrementPriority({{$count}})
	if this.okayToRun(p) {
		log.Debugf("Executing Action {{$count}}")

		{{ range .ActionCode }}
		{{.}}
		{{- end }}

		log.Debugf("Action {{$count}} executed")

		this.resetPriority({{$count}})

	}

	return true, neighbor
}
{{ $count = (increment $count) -}}
{{end }}

func (this *{{.ImplementationName}}) updateLocalState() bool {
	stateChanged := false

	couldExecute := []int{}
	returnNeighbors := []*NeighborState{}

	// Find all guards that light up
	for index, stmtFunc := range this.guards {
		if okayToExecute, nbr := stmtFunc(); okayToExecute {
			couldExecute = append(couldExecute, index)
			returnNeighbors = append(returnNeighbors, nbr)
		}
	}

	// of all the guards that lighted out, pick a random guard and execute its action
	if len(couldExecute) > 0 {
		actionIndex := rand.Intn(len(couldExecute))
		this.actions[couldExecute[actionIndex]](returnNeighbors[actionIndex])
		stateChanged = true
	}

	return stateChanged
}

func (this *{{.ImplementationName}}) broadcastLocalState() (int, error) {
	updMessage := &p.NeighborUpdate{
		Id: this.id,
		State: &p.State{
			{{ range $Name, $Type := .Variables -}}
				{{ $pName := (protoName $Name) }}
                {{$pName}}: this.state.{{$pName}},
			{{- end }}
		},
	}
	broadcastMessage := &p.BroadcastMessage{
		Type: p.MessageType_StateUpdate,
		Src: this.id,
		Msg:  &p.BroadcastMessage_Upd{updMessage},
	}

	return this.send(broadcastMessage)
}

func (this *{{.ImplementationName}}) sendHeartBeat() (int, error) {
	hbMessage := &p.NeighborHeartBeat{
		Id: this.id,
		SentAt: time.Now().Unix(),
	}
	broadcastMessage := &p.BroadcastMessage{
		Type: p.MessageType_Heartbeat,
		Src: this.id,
		Msg:  &p.BroadcastMessage_Hb{hbMessage},
	}

	return this.send(broadcastMessage)
}

func (this *{{.ImplementationName}}) send(msg *p.BroadcastMessage) (int, error) {
	log.Debugf("Sending: %+v", msg)
	data, err := proto.Marshal(msg)
	if err != nil {
		return 0, err
	}
	return this.mcastConn.Write(data)
}

func (this *{{.ImplementationName}}) msgHandler(src *net.UDPAddr, n int, b []byte) {
	log.Debugf("received message (%d bytes) from %s", n, src.String())
	broadcastMessage := &p.BroadcastMessage{}
	err := proto.Unmarshal(b[:n], broadcastMessage)
	if err != nil {
		log.Errorf("error unmarshalling proto from src %s: %s", src.String(), err)
		return
	}
	if broadcastMessage.Src == this.id {
		return
	}
	log.Debugf("received: %+v", broadcastMessage)
	switch broadcastMessage.Type {
	case p.MessageType_Heartbeat:
		this.hbChannel <- broadcastMessage.GetHb()
	case p.MessageType_StateUpdate:
		this.receiveChannel <- broadcastMessage.GetUpd()
	default:
		log.Errorf("invalid message type")
	}
}

func (this *{{.ImplementationName}}) Listener(ctx context.Context) {
	addr, err := net.ResolveUDPAddr("udp4", this.mcastAddr)
	if err != nil {
		log.Errorf("Error resolving mcast address: %s", err)
		return
	}

	conn, err := net.ListenMulticastUDP("udp4", nil, addr)
	if err != nil {
		log.Errorf("Error connecting to mcast address: %s", err)
	}

	conn.SetReadBuffer(maxDatagramSize)

	for {
		select {
		case <-ctx.Done():
			return
		default:
			buffer := make([]byte, maxDatagramSize)
			numBytes, src, err := conn.ReadFromUDP(buffer)
			if err != nil {
				log.Fatal("ReadFromUDP failed:", err)
			}
			this.msgHandler(src, numBytes, buffer)
		}
	}
}